* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.background {
  background-image: url(./katelyn-warner-fNfCjzJzSHA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 4;
  position: relative;
}
.logo-container {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.445);
  position: relative;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 60px;
  height: 80px;
}
span {
  font-weight: bold;
  color: white;
  font-size: 2rem;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
.form {
  flex: 6;
  position: relative;
}
.form-container {
  width: 40vw;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form-container p {
  font-weight: bold;
}
.fieldset_container {
  width: fit-content;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  gap: 50px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}
fieldset {
  border: none;
  padding-bottom: 20px;
}
fieldset > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.submit_container {
  padding-top: 40px;
}
input {
  padding: 5px 0;
  outline: none;
  border: 1px solid rgb(218, 217, 217);
  width: 300px;
}
input:focus {
  border: 1px solid rgb(0, 179, 255);
}
input:focus:valid {
  border-color: green;
}
input:focus:invalid {
  border-color: red;
}
